=begin
#Alogram PayRisk Engine

#Alogram PayRisk is an AI-native decision engine built for the speed and  complexity of the modern commerce era. In a high-velocity world where  AI-driven threats evolve in milliseconds, Alogram provides the real-time  adaptability and forensic transparency needed to protect your ecosystem  with total confidence. We solve the challenge of balancing frictionless  growth with regulatory explainability, delivering instant, intelligent  risk orchestration at enterprise scale.  ---   ## Licensing & Terms   Our client libraries and API specifications are open-source under the **Apache License 2.0**  to ensure seamless integration into your tech stack.  Use of the Alogram PayRisk API service is proprietary and governed by our  [Terms of Service](https://alogram.ai/#tos) and your specific **Enterprise Agreement**,  if applicable.  To access the service, you must have: *   A valid Alogram API Key. *   An active subscription or signed Master Service Agreement.  Unauthorized use, including automated scraping or reverse engineering of the  scoring engine, is strictly prohibited.   ---   ## Support & Traceability   Every Alogram API response includes a unique **`x-trace-id`** header.  Please include this ID when contacting [packages@alogram.ai](mailto:packages@alogram.ai)  regarding specific transactions or errors.   ---   ## Specification   The authoritative OpenAPI specification for this version is available for download: **[Download openapi.yaml](https://developers.alogram.ai/openapi.yaml)** | **[Download openapi.json](https://developers.alogram.ai/openapi.json)** 

The version of the OpenAPI document: 0.2.10
Contact: packages@alogram.ai
Generated by: https://openapi-generator.tech
Generator version: 7.15.0

=end

require 'cgi'

module AlogramPayRisk
  class ForensicDataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Query Historical Assessments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [String] :x_idempotency_key Unique Idempotency-Key sent in the GET request etc.
    # @option opts [String] :start_time 
    # @option opts [String] :end_time 
    # @option opts [Integer] :page_size  (default to 50)
    # @option opts [String] :page_token 
    # @return [ScoresSuccessResponse]
    def get_fraud_scores(tenant_id, opts = {})
      data, _status_code, _headers = get_fraud_scores_with_http_info(tenant_id, opts)
      data
    end

    # Query Historical Assessments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [String] :x_idempotency_key Unique Idempotency-Key sent in the GET request etc.
    # @option opts [String] :start_time 
    # @option opts [String] :end_time 
    # @option opts [Integer] :page_size  (default to 50)
    # @option opts [String] :page_token 
    # @return [Array<(ScoresSuccessResponse, Integer, Hash)>] ScoresSuccessResponse data, response status code and response headers
    def get_fraud_scores_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForensicDataApi.get_fraud_scores ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ForensicDataApi.get_fraud_scores"
      end
      if @api_client.config.client_side_validation && tenant_id.to_s.length > 64
        fail ArgumentError, 'invalid value for "tenant_id" when calling ForensicDataApi.get_fraud_scores, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && tenant_id.to_s.length < 5
        fail ArgumentError, 'invalid value for "tenant_id" when calling ForensicDataApi.get_fraud_scores, the character length must be greater than or equal to 5.'
      end

      pattern = Regexp.new(/^tid_[a-z0-9\-_]{2,60}$/)
      if @api_client.config.client_side_validation && tenant_id !~ pattern
        fail ArgumentError, "invalid value for 'tenant_id' when calling ForensicDataApi.get_fraud_scores, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'x_trace_id'].nil? && opts[:'x_trace_id'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"x_trace_id"]" when calling ForensicDataApi.get_fraud_scores, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_trace_id'].nil? && opts[:'x_trace_id'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"x_trace_id"]" when calling ForensicDataApi.get_fraud_scores, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'x_trace_id'].nil? && opts[:'x_trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"x_trace_id\"]' when calling ForensicDataApi.get_fraud_scores, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'x_idempotency_key'].nil? && opts[:'x_idempotency_key'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"x_idempotency_key"]" when calling ForensicDataApi.get_fraud_scores, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_idempotency_key'].nil? && opts[:'x_idempotency_key'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"x_idempotency_key"]" when calling ForensicDataApi.get_fraud_scores, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^idk_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'x_idempotency_key'].nil? && opts[:'x_idempotency_key'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"x_idempotency_key\"]' when calling ForensicDataApi.get_fraud_scores, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{1,9})?(Z|[+-]\d{2}:\d{2})$/)
      if @api_client.config.client_side_validation && !opts[:'start_time'].nil? && opts[:'start_time'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"start_time\"]' when calling ForensicDataApi.get_fraud_scores, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{1,9})?(Z|[+-]\d{2}:\d{2})$/)
      if @api_client.config.client_side_validation && !opts[:'end_time'].nil? && opts[:'end_time'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"end_time\"]' when calling ForensicDataApi.get_fraud_scores, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ForensicDataApi.get_fraud_scores, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ForensicDataApi.get_fraud_scores, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/scores/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageToken'] = opts[:'page_token'] if !opts[:'page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      header_params[:'x-trace-id'] = opts[:'x_trace_id'] if !opts[:'x_trace_id'].nil?
      header_params[:'x-idempotency-key'] = opts[:'x_idempotency_key'] if !opts[:'x_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScoresSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"ForensicDataApi.get_fraud_scores",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForensicDataApi#get_fraud_scores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
