=begin
#Alogram PayRisk Engine

#Alogram PayRisk is an AI-native decision engine built for the speed and  complexity of the modern commerce era. In a high-velocity world where  AI-driven threats evolve in milliseconds, Alogram provides the real-time  adaptability and forensic transparency needed to protect your ecosystem  with total confidence. We solve the challenge of balancing frictionless  growth with regulatory explainability, delivering instant, intelligent  risk orchestration at enterprise scale.  ---   ## Licensing & Terms   Our client libraries and API specifications are open-source under the **Apache License 2.0**  to ensure seamless integration into your tech stack.  Use of the Alogram PayRisk API service is proprietary and governed by our  [Terms of Service](https://alogram.ai/#tos) and your specific **Enterprise Agreement**,  if applicable.  To access the service, you must have: *   A valid Alogram API Key. *   An active subscription or signed Master Service Agreement.  Unauthorized use, including automated scraping or reverse engineering of the  scoring engine, is strictly prohibited.   ---   ## Support & Traceability   Every Alogram API response includes a unique **`x-trace-id`** header.  Please include this ID when contacting [packages@alogram.ai](mailto:packages@alogram.ai)  regarding specific transactions or errors.   ---   ## Specification   The authoritative OpenAPI specification for this version is available for download: **[Download openapi.yaml](https://developers.alogram.ai/openapi.yaml)** | **[Download openapi.json](https://developers.alogram.ai/openapi.json)** 

The version of the OpenAPI document: 0.2.23
Contact: packages@alogram.ai
Generated by: https://openapi-generator.tech
Generator version: 7.15.0

=end

require 'cgi'

module AlogramPayRisk
  class RiskScoringApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assess Transaction Risk
    # @param x_idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param check_request [CheckRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :x_alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [DecisionResponse]
    def risk_check(x_idempotency_key, check_request, opts = {})
      data, _status_code, _headers = risk_check_with_http_info(x_idempotency_key, check_request, opts)
      data
    end

    # Assess Transaction Risk
    # @param x_idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param check_request [CheckRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :x_alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [Array<(DecisionResponse, Integer, Hash)>] DecisionResponse data, response status code and response headers
    def risk_check_with_http_info(x_idempotency_key, check_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RiskScoringApi.risk_check ...'
      end
      # verify the required parameter 'x_idempotency_key' is set
      if @api_client.config.client_side_validation && x_idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_idempotency_key' when calling RiskScoringApi.risk_check"
      end
      if @api_client.config.client_side_validation && x_idempotency_key.to_s.length > 36
        fail ArgumentError, 'invalid value for "x_idempotency_key" when calling RiskScoringApi.risk_check, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && x_idempotency_key.to_s.length < 36
        fail ArgumentError, 'invalid value for "x_idempotency_key" when calling RiskScoringApi.risk_check, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^idk_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && x_idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'x_idempotency_key' when calling RiskScoringApi.risk_check, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'check_request' is set
      if @api_client.config.client_side_validation && check_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_request' when calling RiskScoringApi.risk_check"
      end
      if @api_client.config.client_side_validation && !opts[:'x_trace_id'].nil? && opts[:'x_trace_id'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"x_trace_id"]" when calling RiskScoringApi.risk_check, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_trace_id'].nil? && opts[:'x_trace_id'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"x_trace_id"]" when calling RiskScoringApi.risk_check, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'x_trace_id'].nil? && opts[:'x_trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"x_trace_id\"]' when calling RiskScoringApi.risk_check, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/risk/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-idempotency-key'] = x_idempotency_key
      header_params[:'x-trace-id'] = opts[:'x_trace_id'] if !opts[:'x_trace_id'].nil?
      header_params[:'x-alogram-agent-manifest'] = opts[:'x_alogram_agent_manifest'] if !opts[:'x_alogram_agent_manifest'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"RiskScoringApi.risk_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RiskScoringApi#risk_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
