=begin
#Alogram PayRisk Engine

#Alogram PayRisk is an AI-native decision engine built for the speed and  complexity of the modern commerce era. In a high-velocity world where  AI-driven threats evolve in milliseconds, Alogram provides the real-time  adaptability and forensic transparency needed to protect your ecosystem  with total confidence. We solve the challenge of balancing frictionless  growth with regulatory explainability, delivering instant, intelligent  risk orchestration at enterprise scale.  ---   ## Licensing & Terms   Our client libraries and API specifications are open-source under the **Apache License 2.0**  to ensure seamless integration into your tech stack.  Use of the Alogram PayRisk API service is proprietary and governed by our  [Terms of Service](https://alogram.ai/#tos) and your specific **Enterprise Agreement**,  if applicable.  To access the service, you must have: *   A valid Alogram API Key. *   An active subscription or signed Master Service Agreement.  Unauthorized use, including automated scraping or reverse engineering of the  scoring engine, is strictly prohibited.   ---   ## Support & Traceability   Every Alogram API response includes a unique **`x-trace-id`** header.  Please include this ID when contacting [packages@alogram.ai](mailto:packages@alogram.ai)  regarding specific transactions or errors.   ---   ## Specification   The authoritative OpenAPI specification for this version is available for download: **[Download openapi.yaml](https://developers.alogram.ai/openapi.yaml)** | **[Download openapi.json](https://developers.alogram.ai/openapi.json)** 

The version of the OpenAPI document: 0.3.1
Contact: packages@alogram.ai
Generated by: https://openapi-generator.tech
Generator version: 7.15.0

=end

require 'cgi'

module AlogramPayRisk
  class RoadmapPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Synchronous fraud decision for account/session events
    # > **Coming Soon**: This endpoint is currently in active development. Assess risk for account-level events such as signup, login, and profile changes. 
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param account_check_request [AccountCheckRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [DecisionResponse]
    def account_risk_check(idempotency_key, account_check_request, opts = {})
      data, _status_code, _headers = account_risk_check_with_http_info(idempotency_key, account_check_request, opts)
      data
    end

    # Synchronous fraud decision for account/session events
    # &gt; **Coming Soon**: This endpoint is currently in active development. Assess risk for account-level events such as signup, login, and profile changes. 
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param account_check_request [AccountCheckRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [Array<(DecisionResponse, Integer, Hash)>] DecisionResponse data, response status code and response headers
    def account_risk_check_with_http_info(idempotency_key, account_check_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadmapPreviewApi.account_risk_check ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling RoadmapPreviewApi.account_risk_check"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling RoadmapPreviewApi.account_risk_check, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling RoadmapPreviewApi.account_risk_check, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^idk_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotency_key' when calling RoadmapPreviewApi.account_risk_check, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'account_check_request' is set
      if @api_client.config.client_side_validation && account_check_request.nil?
        fail ArgumentError, "Missing the required parameter 'account_check_request' when calling RoadmapPreviewApi.account_risk_check"
      end
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling RoadmapPreviewApi.account_risk_check, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling RoadmapPreviewApi.account_risk_check, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"trace_id\"]' when calling RoadmapPreviewApi.account_risk_check, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/risk/account/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key
      header_params[:'trace-id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      header_params[:'alogram-agent-manifest'] = opts[:'alogram_agent_manifest'] if !opts[:'alogram_agent_manifest'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_check_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"RoadmapPreviewApi.account_risk_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadmapPreviewApi#account_risk_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Synchronous decision for KYC/identity verification
    # > **Coming Soon**: This endpoint is currently in active development. Assess risk for identity verification and KYC workflows. 
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param kyc_check_request [KycCheckRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [DecisionResponse]
    def kyc_risk_check(idempotency_key, kyc_check_request, opts = {})
      data, _status_code, _headers = kyc_risk_check_with_http_info(idempotency_key, kyc_check_request, opts)
      data
    end

    # Synchronous decision for KYC/identity verification
    # &gt; **Coming Soon**: This endpoint is currently in active development. Assess risk for identity verification and KYC workflows. 
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param kyc_check_request [KycCheckRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [Array<(DecisionResponse, Integer, Hash)>] DecisionResponse data, response status code and response headers
    def kyc_risk_check_with_http_info(idempotency_key, kyc_check_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadmapPreviewApi.kyc_risk_check ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling RoadmapPreviewApi.kyc_risk_check"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling RoadmapPreviewApi.kyc_risk_check, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling RoadmapPreviewApi.kyc_risk_check, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^idk_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotency_key' when calling RoadmapPreviewApi.kyc_risk_check, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'kyc_check_request' is set
      if @api_client.config.client_side_validation && kyc_check_request.nil?
        fail ArgumentError, "Missing the required parameter 'kyc_check_request' when calling RoadmapPreviewApi.kyc_risk_check"
      end
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling RoadmapPreviewApi.kyc_risk_check, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling RoadmapPreviewApi.kyc_risk_check, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"trace_id\"]' when calling RoadmapPreviewApi.kyc_risk_check, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/risk/kyc/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key
      header_params[:'trace-id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      header_params[:'alogram-agent-manifest'] = opts[:'alogram_agent_manifest'] if !opts[:'alogram_agent_manifest'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(kyc_check_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"RoadmapPreviewApi.kyc_risk_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadmapPreviewApi#kyc_risk_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve Review (Assisted Decisioning & ML Feedback)
    # > **Coming Soon**: This endpoint is currently in active development. Submits an administrative, human-in-the-loop, or autonomous agent decision to resolve a pending fraud review, trigger downstream payment capture/voids, and supply ground-truth feedback labels for ML model retraining. 
    # @param idempotency_key [String] Lowercase, prefix-free standard idempotency key to prevent duplicate capture/void.
    # @param tenant_id [String] The targeted Alogram Tenant ID partition.
    # @param decision_resolution_request [DecisionResolutionRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Lowercase, prefix-free standard distributed trace identifier.
    # @return [DecisionResolutionResponse]
    def resolve_decision(idempotency_key, tenant_id, decision_resolution_request, opts = {})
      data, _status_code, _headers = resolve_decision_with_http_info(idempotency_key, tenant_id, decision_resolution_request, opts)
      data
    end

    # Resolve Review (Assisted Decisioning &amp; ML Feedback)
    # &gt; **Coming Soon**: This endpoint is currently in active development. Submits an administrative, human-in-the-loop, or autonomous agent decision to resolve a pending fraud review, trigger downstream payment capture/voids, and supply ground-truth feedback labels for ML model retraining. 
    # @param idempotency_key [String] Lowercase, prefix-free standard idempotency key to prevent duplicate capture/void.
    # @param tenant_id [String] The targeted Alogram Tenant ID partition.
    # @param decision_resolution_request [DecisionResolutionRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Lowercase, prefix-free standard distributed trace identifier.
    # @return [Array<(DecisionResolutionResponse, Integer, Hash)>] DecisionResolutionResponse data, response status code and response headers
    def resolve_decision_with_http_info(idempotency_key, tenant_id, decision_resolution_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadmapPreviewApi.resolve_decision ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling RoadmapPreviewApi.resolve_decision"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 128
        fail ArgumentError, 'invalid value for "idempotency_key" when calling RoadmapPreviewApi.resolve_decision, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 3
        fail ArgumentError, 'invalid value for "idempotency_key" when calling RoadmapPreviewApi.resolve_decision, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadmapPreviewApi.resolve_decision"
      end
      # verify the required parameter 'decision_resolution_request' is set
      if @api_client.config.client_side_validation && decision_resolution_request.nil?
        fail ArgumentError, "Missing the required parameter 'decision_resolution_request' when calling RoadmapPreviewApi.resolve_decision"
      end
      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"trace_id\"]' when calling RoadmapPreviewApi.resolve_decision, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/decisions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key
      header_params[:'tenant-id'] = tenant_id
      header_params[:'trace-id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decision_resolution_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionResolutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"RoadmapPreviewApi.resolve_decision",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadmapPreviewApi#resolve_decision\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
