=begin
#Alogram PayRisk Engine

#Alogram PayRisk is an AI-native decision engine built for the speed and  complexity of the modern commerce era. In a high-velocity world where  AI-driven threats evolve in milliseconds, Alogram provides the real-time  adaptability and forensic transparency needed to protect your ecosystem  with total confidence. We solve the challenge of balancing frictionless  growth with regulatory explainability, delivering instant, intelligent  risk orchestration at enterprise scale.  ---   ## Licensing & Terms   Our client libraries and API specifications are open-source under the **Apache License 2.0**  to ensure seamless integration into your tech stack.  Use of the Alogram PayRisk API service is proprietary and governed by our  [Terms of Service](https://alogram.ai/#tos) and your specific **Enterprise Agreement**,  if applicable.  To access the service, you must have: *   A valid Alogram API Key. *   An active subscription or signed Master Service Agreement.  Unauthorized use, including automated scraping or reverse engineering of the  scoring engine, is strictly prohibited.   ---   ## Support & Traceability   Every Alogram API response includes a unique **`x-trace-id`** header.  Please include this ID when contacting [packages@alogram.ai](mailto:packages@alogram.ai)  regarding specific transactions or errors.   ---   ## Specification   The authoritative OpenAPI specification for this version is available for download: **[Download openapi.yaml](https://developers.alogram.ai/openapi.yaml)** | **[Download openapi.json](https://developers.alogram.ai/openapi.json)** 

The version of the OpenAPI document: 0.3.1
Contact: packages@alogram.ai
Generated by: https://openapi-generator.tech
Generator version: 7.15.0

=end

require 'cgi'

module AlogramPayRisk
  class SignalIntelligenceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ingest Lifecycle Signals
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param payment_event [PaymentEvent] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [IngestPaymentEvent202Response]
    def ingest_payment_event(idempotency_key, payment_event, opts = {})
      data, _status_code, _headers = ingest_payment_event_with_http_info(idempotency_key, payment_event, opts)
      data
    end

    # Ingest Lifecycle Signals
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param payment_event [PaymentEvent] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [Array<(IngestPaymentEvent202Response, Integer, Hash)>] IngestPaymentEvent202Response data, response status code and response headers
    def ingest_payment_event_with_http_info(idempotency_key, payment_event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignalIntelligenceApi.ingest_payment_event ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SignalIntelligenceApi.ingest_payment_event"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling SignalIntelligenceApi.ingest_payment_event, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling SignalIntelligenceApi.ingest_payment_event, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^idk_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotency_key' when calling SignalIntelligenceApi.ingest_payment_event, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_event' is set
      if @api_client.config.client_side_validation && payment_event.nil?
        fail ArgumentError, "Missing the required parameter 'payment_event' when calling SignalIntelligenceApi.ingest_payment_event"
      end
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling SignalIntelligenceApi.ingest_payment_event, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling SignalIntelligenceApi.ingest_payment_event, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"trace_id\"]' when calling SignalIntelligenceApi.ingest_payment_event, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key
      header_params[:'trace-id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      header_params[:'alogram-agent-manifest'] = opts[:'alogram_agent_manifest'] if !opts[:'alogram_agent_manifest'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_event)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestPaymentEvent202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"SignalIntelligenceApi.ingest_payment_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignalIntelligenceApi#ingest_payment_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit Behavioral Intelligence
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param signals_request [SignalsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [IngestPaymentEvent202Response]
    def ingest_signals(idempotency_key, signals_request, opts = {})
      data, _status_code, _headers = ingest_signals_with_http_info(idempotency_key, signals_request, opts)
      data
    end

    # Submit Behavioral Intelligence
    # @param idempotency_key [String] Unique Idempotency-Key sent in the POST request etc.
    # @param signals_request [SignalsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id Echoed or generated trace ID for tracking requests.
    # @option opts [AgentManifest] :alogram_agent_manifest JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP). 
    # @return [Array<(IngestPaymentEvent202Response, Integer, Hash)>] IngestPaymentEvent202Response data, response status code and response headers
    def ingest_signals_with_http_info(idempotency_key, signals_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignalIntelligenceApi.ingest_signals ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SignalIntelligenceApi.ingest_signals"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling SignalIntelligenceApi.ingest_signals, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 36
        fail ArgumentError, 'invalid value for "idempotency_key" when calling SignalIntelligenceApi.ingest_signals, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^idk_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotency_key' when calling SignalIntelligenceApi.ingest_signals, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'signals_request' is set
      if @api_client.config.client_side_validation && signals_request.nil?
        fail ArgumentError, "Missing the required parameter 'signals_request' when calling SignalIntelligenceApi.ingest_signals"
      end
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling SignalIntelligenceApi.ingest_signals, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'].to_s.length < 36
        fail ArgumentError, 'invalid value for "opts[:"trace_id"]" when calling SignalIntelligenceApi.ingest_signals, the character length must be greater than or equal to 36.'
      end

      pattern = Regexp.new(/^trc_[a-f0-9]{32}$/)
      if @api_client.config.client_side_validation && !opts[:'trace_id'].nil? && opts[:'trace_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"trace_id\"]' when calling SignalIntelligenceApi.ingest_signals, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/signals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key
      header_params[:'trace-id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      header_params[:'alogram-agent-manifest'] = opts[:'alogram_agent_manifest'] if !opts[:'alogram_agent_manifest'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(signals_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestPaymentEvent202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'oAuth2']

      new_options = opts.merge(
        :operation => :"SignalIntelligenceApi.ingest_signals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignalIntelligenceApi#ingest_signals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
